.chatAction {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actionButton {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: relative;
}
.popover {
  position: absolute;
  bottom: 50px;
  transform: scale(0);
  transform-origin: top center;
  transition: transform 10s ease-out;
  display: none;

}
.popovershow {
  display: block;
  transform: scale(1);
}

.icon {
  outline: none;
  border: none;
  background: transparent;
  padding: 5px;
  border-radius: 4px;
}
.icon:hover {
  background-color: #fefffe;
}
.icon > svg {
  font-size: 1.7rem;
}

.inputField {
  flex: 1 1 0%;
}

.inputField > textarea {
  outline: none;
  width: 100%;
  max-height: 4.5em;
  resize: none;
  height: auto;
  border: none;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 4px 20px;
  font-size: 1.1rem;
  scroll-behavior: smooth;
}
.inputField > textarea::-webkit-scrollbar {
  width: 0px;
  display: none !important;
}
.inputField > textarea::placeholder {
  color: grey;
  text-align: start;
}
